* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
 
}
body{
    overflow-x: hidden; 

}



#top-center {
    width: 100%;
    background-color: black;   
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-center p {
    height: 40px;
    display: inline-block;     
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap; 
    padding: 5px 0;      
}


 #box1 {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
} 
 
#left{
    font-size: 30px;
    scale: 0.0;
   
}
#center img{
    height:100% ;
    width: 380px;
    margin-left: 30%;
    
}
#right{
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
   
}

#box2{
    height: 8px;
    width: 100%;
    background-color: rgb(167, 6, 6);
    margin-bottom: 15px;
}


#box3{
    height: 40px;
    width: 100%;
    background-color:  rgb(4, 38, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
     gap: 80px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 18px;
     font-weight: 800;
}
#box3 i{
    font-size: 20px;
}
#container2{
    width: 100%;
    height: 400px;
  
   
}
#container2 img{
    width: 100%;
   

}

#slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: auto;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

#dots {
    
     position: absolute;     
    top: 161%;         
    left: 50%;              
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 60px;
    
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}
#containerD{
  display: flex;
   height: 330px;
   width: 2800px;
   gap: 40px; 
   margin-top: 40px;
   margin-left: 110px;

}
#containerD img{
    border-radius: 15px;
}
#container3{
    margin-top: 30px;
}
#container3 img.c1 {
  display: none;
}

#container3 img#c1 {
  display: block;
  width: 100%;
  height: auto;
 
}

#container4{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    

}
#left1 img{
    height:670px;
    width: 700px;
    margin-left: 8%;

}
#right1 img{
    height: 670px;
    width: 700px;
    margin-left:-5%;
}
#container5{
   display: flex;
   height: 330px;
   width: 2800px;
   gap: 40px; 
   margin-top: 30px;
   margin-left: 110px;
  

}
#container5 img{
    border-radius: 15px;
}





#container6{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

}
#left2 img{
    height:670px;
    width: 700px;
    margin-left: 8%;

}
#right2 img{
    height: 670px;
    width: 700px;
    margin-left:-5%;
}
#container7{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

}
#left3 img{
    height:670px;
    width: 700px;
    margin-left: 8%;

}
#right3 img{
    height: 670px;
    width: 700px;
    margin-left:-5%;
}
#container8{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
#left4 img{
    height:670px;
    width: 700px;
    margin-left: 8%;

}
#right4 img{
    height: 670px;
    width: 700px;
    margin-left:-5%;
}
#container9 img{
    height: 680px;
    width: 100%;
}









@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    
     #box1 {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        position: relative;    
             
     }
    #center {
        position: absolute;       
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #center img {
        height: 50px;
        width: auto;           
        margin-left: 0;         
    }
    #left{
        font-size: 20px;
        scale: 0.8;
    }
    #top-center p {
        animation: slide 12s linear infinite;
        font-size: 15px;
        color: white;
        align-items: center;
        justify-content: center;
    }
    
      @keyframes slide {
      0%   { transform: translateX(100%); }
      100% { transform: translateX(-100%); }
    }
    #right{
        justify-content: flex-end;  
        gap: 10px;
        margin-right: 0;  
        font-size: 20px;
    }
     #s1,#s2{
        display: none;
   
    }
    #box3{
        width: 100%;
        height: 20px;
        background-color: rgba(1, 1, 36, 0.955);
    }
    h4{
        display: none;
    }
    #container2{
        width: 100%;
        height: 110px;
    }
    #slider{
        height: 300px;
        width: 100%;
    }
    #dots {
    
     position: absolute;     
    top: 60%;         
    left: 50%;              
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
    
    }
    .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    }
    
#containerD{
   height: 150px;
   width: 100%;
   gap: 10px;
   margin-left: 2.5%;
   margin-bottom: 35px;
   overflow-x: auto;
   overflow-y: hidden;
   scroll-behavior: smooth;
}
#containerD::-webkit-scrollbar {
  height: 6px;     
  margin-top: 10px;
}
#containerD::-webkit-scrollbar-thumb {
  background-color: white;    
  border-radius: 4px;
}
   
   #container3 img#c1 {
    display: none;
  }

  #container3 img.c1 {
    display: block;
    width: 100%;
    height: auto;
  }
  #container4{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}
#container4::-webkit-scrollbar {
  height: 6px;     
  margin-top: 10px;
  margin-bottom: 20px;
}
#container4::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);     
  border-radius: 4px;
   margin-top: 10px;
  margin-bottom: 20px;
}

#left1 img{
    height:400px;
    width: 400px;
    margin-left: 2%;

}
#right1 img{
    height: 400px;
    width: 400px;
    margin-left:-5%;
}


#container5{
   height: 150px;
   width: 100%;
   gap: 10px;
   margin-left: 2.5%;
   margin-bottom: 35px;
   overflow-x: auto;
   overflow-y: hidden;
   scroll-behavior: smooth;
}
#container5::-webkit-scrollbar {
  height: 6px;     
  margin-top: 10px;
}
#container5::-webkit-scrollbar-thumb {
  background-color: white;    
  border-radius: 4px;
}


 #container6{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}
#container6::-webkit-scrollbar {
  height: 6px;     
  margin-top: 10px;
}
#container6::-webkit-scrollbar-thumb {
  background-color: black;    
  border-radius: 4px;
}

#left2 img{
    height:400px;
    width: 400px;
    margin-left: 2%;

}
#right2 img{
    height: 400px;
    width: 400px;
    margin-left:2%;
}



 #container7{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}
#container7::-webkit-scrollbar {
  height: 6px;     
  margin-top: 10px;
}
#container7::-webkit-scrollbar-thumb {
  background-color: black;    
  border-radius: 4px;
}

#left3 img{
    height:400px;
    width: 400px;
    margin-left: 2%;

}
#right3 img{
    height: 400px;
    width: 400px;
    margin-left:2%;
}


 #container8{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}
#container8::-webkit-scrollbar {
  height: 6px;     
  margin-top: 10px;
}
#container8::-webkit-scrollbar-thumb {
  background-color: black;   
  border-radius: 4px;
}

#left4 img{
    height:400px;
    width: 400px;
    margin-left: 2%;

}
#right4 img{
    height: 400px;
    width: 400px;
    margin-left:2%;
}


#container9 img{
    
    display: none;
}


}